* {
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.dashboard {
  display: flex;
}

.project-view {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-tiles {
  display: flex;
}

.project-tiles > section {
  flex-grow: 1;
}

.crew-list-item {
  display: flex;
}